# Dependency Directories
node_modules
jspm_packages

# Files
*.DS_Store
*.log

# Serverless directories
.serverless

# Eslint chache
.eslintcache

# Webstorm IDE
.idea/

# Visual Studio IDE
.vscode

# Local Environment Variables
.env

# AppSync
mapping-autogen.yml
*.autogen.*

# Jest
/coverage
